:root{
    --switchWidth: 52px;
    --switchHeight: 24px;
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}
header a{
    display: flex;
}
.themeSwitch{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #777;
    width: var(--switchWidth);
    height: var(--switchHeight);
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    margin-left: 20px;
}
.light .themeSwitch{
    border: 2px solid #ccc;
}
.themeSwitch div{
    position: absolute;
    height: calc(var(--switchHeight) - 6px);
    width: calc(var(--switchHeight) - 6px);
    left: 3px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    background-color: #0084ff;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    z-index: 900;
}
.themeSwitch input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1000;

}
.themeSwitch input[type="checkbox"]:checked + div{
    left: calc(var(--switchWidth) - calc(var(--switchHeight) - 4px) - 2px);
}

.themeSwitch svg{
    height: calc(var(--switchHeight) - 8px);
    width: calc(var(--switchHeight) - 8px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moonsvg{
    left: 4px;
    fill: #fff;
    filter: drop-shadow(0 0 1px #fffc);
    -webkit-filter: drop-shadow(0 0 1px #fffc);
}
.sunsvg{
    right: 4px;
    fill: #f2ad0c;
    filter: drop-shadow(0 0 1px #f2ad0ccc);
    -webkit-filter: drop-shadow(0 0 1px #f2ad0ccc);
}
.termsvg{
    height: 37px;
    width: 37px;
    margin-left: 20px;
    transition: filter 0.27s, transform 0.2s;
    -webkit-transition: filter 0.27s, transform 0.2s;
    -moz-transition: filter 0.27s, transform 0.2s;
    -ms-transition: filter 0.27s, transform 0.2s;
    -o-transition: filter 0.27s, transform 0.2s;
}
.termsvg:hover{
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    filter: drop-shadow(0 0 10px #fffa);
    -webkit-filter: drop-shadow(0 0 10px #fffa);
}
.light .termsvg:hover{
    filter: drop-shadow(0 0 10px #000a);
    -webkit-filter: drop-shadow(0 0 10px #000a);
}
.socialmediasvg{
    height: 27px;
    fill: #fff;
    margin-left: 20px;
    transition: filter 0.27s, transform 0.2s;
    -webkit-transition: filter 0.27s, transform 0.2s;
    -moz-transition: filter 0.27s, transform 0.2s;
    -ms-transition: filter 0.27s, transform 0.2s;
    -o-transition: filter 0.27s, transform 0.2s;
}
.socialmediasvg:hover{
    filter: drop-shadow(0 0 10px #fffa);
    -webkit-filter: drop-shadow(0 0 8px #fffa);
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}
.light .socialmediasvg{
    fill: #000;
}
.light .socialmediasvg:hover{
    filter: drop-shadow(0 0 10px #000a);
    -webkit-filter: drop-shadow(0 0 10px #000a);
}